# server
fastapi==0.115.6
uvicorn[standard]==0.34.0
# inference (versi WAJIB sama dengan saat training agar artefak joblib cocok)
joblib==1.5.3
numpy==2.0.2
pandas==2.2.2
scikit-learn==1.6.1
catboost==1.2.10
